@charset "UTF-8";
/* CSS Document */


@charset "UTF-8";


#menu{
	clear: both;
}

body{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

body.nvidia-com #content {
	color:white;
	position: relative;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-top:50px;
	padding-bottom:30px;
	padding-left:80px;
	padding-right:80px;
	background-image: url('../images/black.png');
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	background-repeat:repeat;
	width: 770px;
	z-index:10;	
}



body.nvidia-com #content-wrapper { clear: both; width: 860px; height: 519px; margin: 0 auto; }


#menu
{
	vertical-align: middle;
	font-size:8pt;
	color:white;
	position:fixed;
	left:0;
	top:0;
	border-style: none;
	height: 25px;
	min-width:390px;
	width: 100%;
	background: #000;
	z-index:200;
}
#menu p
{
	line-height:0px;
}

#menu a
{
	text-decoration: none;
	color:white;
}
#menu img
{
	float:left;
	vertical-align: middle;
	margin-right:8px;
}
#menu a:hover
{
	color: gray;
}
#menuleft
{
	float: left;
	margin-left: 5px;
	margin-top:2px;
}
#leftitems
{
	float:left;
	margin-top:4px;
}

#menuright {
	position:relative;
	height:20px;
	margin-top:6px;	
	margin-right: 5px;
	float: right;
}
#menuright ul
{
	margin:0;
	height:20px;
}
#menuright li {
	float: left;
	list-style: none;
}
#menuright li.backLava {
	position: absolute;
	/*display:block;*/
	/*overflow:visible;*/
	width:9px;
	height:14px;
	margin-top:13px;
}
#menuright li.backLava .bottomLava
{
	border-bottom: 3px solid  #009deb;
}
#menuright li a {
	text-decoration: none;
	color: #FFF;
	outline:none;
	text-align: center;
	padding: 0px 0px;
	z-index: 10;
	position: relative;
	margin: 0px 5px;
}


		/*body {
			font-family: Helvetica, Verdana, Arial, sans-serif;
			background-color: white;
			color: black;
			
		}*/
				a:link, a:visited {
			color: #000;
		}
		a:active, a:hover {
			color: #666;
		}
		p.header {
			font-size: small;
		}
		p.header span {
			font-weight: bold;
		}
		p.footer {
			font-size: x-small;
		}
		div.content {
	margin: auto;
	/*width: 800px;*/
	text-align: center;
		}
		div.missing {
			margin: auto;
			position: relative;
			top: 50%;
			width: 193px;
		}
		div.missing a {
			height: 63px;
			position: relative;
			top: -31px;
		}
		div.missing img {
			border-width: 0px;
		}
		div#unityPlayer {
			cursor: default;
			height: 450px;
			width: 600px;
		}
	